@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ol, ul, li {
  list-style: none;
}

html, body {
  height: 100%;
  width: 100%;
  color: #333;
}

body {
  font-size: 14px;
}

header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}

.topBar {
  background: #d43c33;
  padding: 0.4266666667rem 0.2666666667rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topBar .logo {
  width: 3.7866666667rem;
}

.topBar > a {
  padding: 0 0.2666666667rem;
  border: 1px solid #fff;
  border-radius: 0.8rem;
  color: #fefefe;
  font-size: 0.4rem;
  line-height: 0.8rem;
}

.siteNav > ol {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ccc;
  background: #fff;
}

.siteNav > ol > li {
  width: 33.3%;
  flex-grow: 1;
  text-align: center;
  font-size: 15px;
}

.siteNav li > span {
  display: inline-block;
  padding: 9px 5px;
}

.siteNav li.active > span {
  color: #d43c33;
  border-bottom: 2px solid #d43c33;
}

.tabContent {
  padding-top: 2.8rem;
}

.tabContent > li {
  display: none;
}

.tabContent > li.active {
  display: block;
}

.title {
  margin-bottom: 0.3733333333rem;
  padding-left: 0.24rem;
  border-left: 2px solid #d43c33;
  font-size: 0.4533333333rem;
  line-height: 17px;
  font-weight: 400;
}

.loading {
  text-align: center;
  margin: 0.2133333333rem;
}

#recommendMusic {
  padding-top: 0.5333333333rem;
}

.playLists > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0.64rem;
}

.playLists li {
  width: calc(33.3% - 2px);
  margin-bottom: 0.4266666667rem;
  position: relative;
}

.playLists li img {
  width: 100%;
}

.playLists li p {
  color: #333;
  padding: 0 0.16rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.3466666667rem;
}

.playLists li .Num {
  position: absolute;
  top: 2px;
  right: 5px;
  font-size: 0.32rem;
  z-index: 5;
  color: #fefefe;
  padding-left: 0.3733333333rem;
}

.playLists li .icon {
  width: 0.3733333333rem;
  height: 0.3733333333rem;
  fill: #fefefe;
  position: absolute;
  left: 0;
  top: 1px;
}

.latestMusic li {
  position: relative;
  margin-left: 0.2666666667rem;
}

.latestMusic li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.latestMusic .rank {
  display: none;
}

.latestMusic a {
  flex: 1;
  border-bottom: 1px solid #e2e2e3;
  padding: 0.16rem 0;
}

.latestMusic .info h3 {
  font-size: 0.4533333333rem;
  font-weight: 400;
  color: #333;
}

.latestMusic .info p {
  font-size: 0.32rem;
  color: #888;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: normal;
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.latestMusic .info p > .icon {
  width: 0.32rem;
  height: 0.32rem;
  fill: #FE682F;
  margin-right: 4px;
}

.latestMusic .info > .icon {
  width: 0.5866666667rem;
  height: 0.5866666667rem;
  fill: #aaa;
  overflow: hidden;
}

.latestMusic .info > .icon {
  position: absolute;
  right: 0.2666666667rem;
  top: 0.3733333333rem;
}

.ad {
  padding-top: 1.8666666667rem;
  padding-bottom: 0.5333333333rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: url(//s3.music.126.net/m/s/img/recommand_bg_2x.png?d045faf…) no-repeat;
  background-size: cover;
}

.ad .logo {
  width: 6.1333333333rem;
  height: 1.1733333333rem;
}

.ad a {
  flex: 1;
  border: 1px solid #d43c33;
  border-radius: 1.0666666667rem;
  color: #d43c33;
  font-size: 0.4266666667rem;
  line-height: 1.0666666667rem;
  width: 8rem;
  text-align: center;
  margin-top: 0.4rem;
  margin-bottom: 0.1333333333rem;
}

.ad .copyright {
  color: #888;
  font-size: 0.32rem;
  line-height: 16px;
}

#hotList .hotTop {
  position: relative;
  background: rgba(0, 0, 0, 0.2);
  background-size: cover;
  height: 3.8666666667rem;
  padding-left: 0.5333333333rem;
}

.hotTop .icon {
  width: 3.7866666667rem;
  margin-top: 0.6666666667rem;
}

.hotTop p {
  margin-top: 8px;
  font-size: 0.32rem;
  color: #fefefe;
}

.hotTop::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: url(//s3.music.126.net/m/s/img/hot_music_bg_2x.jpg?f01a252389c26bcf016816242eaa6aee) no-repeat center;
  z-index: -1;
}

#hotList .list li {
  position: relative;
  margin-left: 0.2666666667rem;
}

.list li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.list .rank {
  color: #999;
  font-size: 0.4533333333rem;
  font-weight: 400;
  width: 0.7466666667rem;
}

.list a {
  flex: 1;
  border-bottom: 1px solid #e2e2e3;
  padding: 0.16rem 0;
}

.list .info h3 {
  font-size: 0.4533333333rem;
  font-weight: 400;
  color: #333;
}

.list .info p {
  font-size: 0.32rem;
  color: #888;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: normal;
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.list .info p > .icon {
  width: 0.32rem;
  height: 0.32rem;
  fill: #FE682F;
  margin-right: 4px;
}

.list .info > .icon {
  width: 0.5866666667rem;
  height: 0.5866666667rem;
  fill: #aaa;
  overflow: hidden;
}

.list .info > .icon {
  position: absolute;
  right: 0.2666666667rem;
  top: 0.3733333333rem;
}

#hotList .tomore {
  text-align: center;
  color: #999;
  height: 1.4666666667rem;
  line-height: 1.4666666667rem;
}

#search .wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputbox {
  position: relative;
  padding: 15px 10px;
}

#search.searching .inputbox label {
  display: none;
}

.inputbox label {
  position: absolute;
  left: 42px;
  top: 20px;
  color: #CDCDCD;
}

.inputbox input {
  height: 30px;
  width: 100%;
  padding: 0 30px;
  border: 1px solid #EBECEC;
  border-radius: 0.8rem;
  background: #EBECEC;
  caret-color: #888;
  outline: none;
}

.inputbox .icon-search {
  position: absolute;
  left: 20px;
  top: 24px;
  width: 13px;
  height: 13px;
  fill: #CDCDCD;
}

#search.searching .inputbox .icon-close {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 22px;
  width: 15px;
  height: 15px;
  fill: #999;
}

.inputbox .icon-close {
  display: none;
}

#search.searching .hotWords {
  display: none;
}

#search .hotWords {
  border-top: 1px solid #E1E2E3;
  padding: 0.4rem 0.2666666667rem;
}

.hotWords .title {
  font-size: 0.32rem;
  border: none;
}

.hotWords .words li {
  float: left;
  margin: 0 8px 8px 0;
  padding: 4px 0.3733333333rem;
  border: 1px solid #EBECEC;
  border-radius: 14px;
}

.hotWords .words a {
  font-size: 0.3733333333rem;
  color: #333;
}

#search.searching .results {
  display: block;
}

.results {
  display: none;
}

.results li {
  position: relative;
  margin-left: 0.2666666667rem;
}

.results li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.results .rank {
  display: none;
}

.results a {
  flex: 1;
  border-bottom: 1px solid #e2e2e3;
  padding: 0.16rem 0;
}

.results .info h3 {
  font-size: 0.4533333333rem;
  font-weight: 400;
  color: #333;
}

.results .info p {
  font-size: 0.32rem;
  color: #888;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: normal;
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.results .info p > .icon {
  width: 0.32rem;
  height: 0.32rem;
  fill: #FE682F;
  margin-right: 4px;
}

.results .info > .icon {
  width: 0.5866666667rem;
  height: 0.5866666667rem;
  fill: #aaa;
  overflow: hidden;
}

.results .info > .icon {
  position: absolute;
  right: 0.2666666667rem;
  top: 0.3733333333rem;
}

.results .keyword {
  color: #507daf;
  font-weight: 400;
  padding: 10px;
}

/*# sourceMappingURL=index.css.map */
